#list {
    width: 80%;
    height: auto;
    margin: auto;
    margin-top: 70px;
}

#list a {
    display: flex;
    width: 440px;
    height: 220px;
    margin: 25px;
    float: left;
    background: url(../img/listitem_bg.png);
    background-position: center;
    background-size: cover;
    background-repeat:  no-repeat;
    text-decoration: none;
    border-radius: 20px;
}

#list a:hover {
    background: url(../img/listitem_bg-hover.png);
}

#list a img  {
    position: absolute;
    border-radius: 20px;
    height: 5%;
    width: 5%;
    padding: 10px;
}

#list a p {
    margin: auto;
    color: rgb(243, 178, 0);
    font-size: 37px;
    padding-top: 20px;
}